* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color;
  background-color: $background;

  @media (max-width: $mqMaxWidth) {
    width: fit-content;
  }
}

.container {
  max-width: 1200px;
  padding: 2em 4em;
  margin: auto;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  background-color: $secundary-color;

    a.btn {
      padding: .5em .8em;
      color: $secundary-color;
      text-decoration: none;
      background: $btn-bg;
      border-radius: 5px;
    }
    a.btn:hover {
      background: $btn-bg-hover;
    }

    @media (max-width: $mqMaxWidth) {
      font-size: 1.7em;
    }
}

header.home {
  background:url(../images/home_abaltzisketa_aralar_1800.webp) no-repeat center;

  @media (max-width: $mqMaxWidth) {
    background: none;
    background-color:#000;
  }

}
.cabecera {
  height: 80px;
  
    h1 {
      float: left;
      width: auto;
      padding:0;
      margin-top:0.2em;
      margin-left:1.5em;
      font-size:2.8em;
      font-weight: 300;
      line-height: 1em;
      color: $secundary-color;

    }
    span {
      position:absolute;
      top:60px;
      text-shadow: 1px 1px 10px #000;
    }
}

section.intro {
  width: 80%;
  padding: .5em 1em;
  margin: 0 auto;
  margin-top:6em;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
  color: #FFF;
  background-color: #000;
  opacity: 80%;
}

.destacado {
  margin: 3em 0;
}

footer {
  width: 100%;
  margin-top: 4em;
  color: $secundary-color;
  text-align: center;
  background-color: #000;

  a {
    color: #fff;

  }

  a:hover {
    text-decoration: none;
  }

  @media (max-width: $mqMaxWidth) {
    padding: 1em;
  }
}